/* 스타벅스 폰트 적용 */
@font-face {
	font-family: 'Moonbucks';
	src: url(../public/Santana-Black.ttf);
}

/* 웹 폰트 적용 */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 자주사용하는 변수 생성 */
:root {
	--back-color :  #1A264B;
	--MoonFont : 'Moonbucks';
	--Gmartket : 'GmarketSansMedium';
	--NotoSans : 'Noto Sans KR';

}

/* 전체적인 CSS */



.pageTitle{
	position: relative;
	padding: 10px;
	box-sizing: border-box;
}

.pageTitle textarea{
	width: 100%;
	height: 180px;
	resize: none;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 5px;

}

input[type="number"]::-webkit-inner-spin-button{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}



.pageTitle h1{
	text-align: left;
	font-size: 24px;
	font-weight: 100;
	padding-left: 30px;
	margin-bottom: 30px;
}

.pageTitle button{
	border: none;
	border-radius: 20px;
	width: 120px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	position: absolute;
	right: 30px;
	top: 30px;
	color: var(--back-color);
	background-color: white;
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.pageTitle .modifyBtn{
	right: 170px;
}

.pageTitle button:hover{
	background-color: #2f4485;
	color: white;

}

.DetailBox {
	padding: 20px;
}

.ListBox {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
}

.ListBox div{
	margin-bottom: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

.ListBox a{
	width: calc(100%/4 - 20px);
	min-width: 300px;
	height: 200px;
	display: flex;
	margin-bottom: 15px;

}

.TotalItem {

	width: calc(100%/2 - 10px);
	flex-basis: 300px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	color: var(--back-color);
	padding: 30px 10px 0px 15px;
	flex-grow: 1;
	word-break: keep-all;
	font-family: var(--Gmartket);
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: background-color 0.4s ease;
}

.TotalItem:hover {
	background-color: white;
}

.DetailBox{
	text-align: center;
	width: 100%;
}

.TotalItem > table,
.DetailBox > table{
	text-align: left;	
	padding: 5px;
	vertical-align: top;
}

.DetailBox > table{
	width: 50%;
	min-width: 700px;
	margin: 0 auto;
	color: rgba(255, 255, 255, 0.7) !important;
	font-weight: 100;
	word-break: keep-all;
}


.DetailBox > table > tbody > tr > td{
	vertical-align: top;
	
}

.DetailBox > table > tbody > tr > .tdimg{
	width: 100%;
	height: 300px;
	text-align: center !important;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
}

tr.space {
	border-bottom: 30px solid transparent;
  }

.DetailBox img {
	height: 80%;
	margin-top: 30px;
}



.TotalItem > table > tbody > tr > td{
	vertical-align: top !important;
	
}

.TotalItem > table > tbody > tr > td:nth-child(1){
	width: 70px !important;
	text-align: justify;
}

.DetailBox > table > tbody > tr > td:nth-child(2){
	padding-left: 30px;
	color: white;
}


.DetailBox span {
	display: inline-block;
	width: 80px;
	font-weight: 500;
	color: white !important;
	text-align: justify !important;
	text-align-last: justify;
}

.TotalItem span{
	display: inline-block;
	width: 55px;
}

.DetailBox > table > tbody > tr > td:nth-child(1){
	width: 90px !important;
	text-align: justify;
}





h1, h2, h3, h4 {
	font-family: var(--Gmartket);
	font-weight: 100;
	margin-top: 20px !important;
}

#root {
	text-align: center;
	background-color: var(--back-color);
	color: white;
	margin: 0 auto;
	padding: 0;
	font-family: 'Noto Sans KR';
}

body {
	padding: 0;
	margin: 0;
}

.container{
	margin: 0 !important;
	max-width: 100% !important;
	padding: 0 !important;
}

ul {
	list-style-type: none;
	display: flex;
	width: 280px;
	margin: auto;
}

li {
	padding: 10px;
}

a {
	text-decoration: none !important;
	color: inherit !important;
}

.menuBox div {
	display: inline-block;
	margin: 5px;
}

.menuItem {
	width: 300px;
	background-color: lightgrey;
	cursor: pointer;
	color: white;
	padding: 5px;
	transition: background-color 0.4s ease;
}

.menuItem:hover {
	background-color: gray;
}


/* Header.js */
.header{
	background-color: white;
	color: var(--back-color);
	padding: 20px;
	position: relative;
}

.header .me-auto > ul{
	width: 100% !important;
}

.header .me-auto{
	margin-right: 20px !important;
	text-align: right;
}

.me-auto.navbar-nav{
	flex-direction: row;
}

.me-auto a{
	padding: 0.8em;
	float: left;
}


.bg-body-tertiary{
	background-color: rebeccapurple !important;
}

.logo:hover{
	cursor: pointer;
}

.logo{
	overflow: hidden;
	width: 500px;
}
.logo h1{
	font-family: var(--MoonFont);
	width: 300px;
	float: left;
	font-size: 50px;
	color: var(--back-color) !important;
	text-decoration: none !important;
	margin-top: 10px !important;
}

.logo span {
	display: block;
	height: 80px;
	float: left;
	width: 120px;
}

.logo span img{
	height: 100%;
}

/* Navbar.js */
.navbar {
	color: var(--back-color);
	text-align: center !important;
	padding: 0;
	align-items: center;
	padding-bottom: 20px !important;
	padding-top: 0 !important;

}



.navbar-me-auto  li{
	width: 120px;
	padding: 0;
	margin: 0 3px;
	height: 20px;
}

.navbar-me-auto li a {
	display: block;
	width: 100%;
	padding: 0;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.navbar-me-auto li a:hover {
	background-color: var(--back-color);
	border-radius: 20px;
	color: white !important;
}

.header-nav ul li p{
	margin-top: 15px;
}

.header-nav span{
	color: var(--back-color);
	font-weight: 700;
}


/* Main.js */
.mainCSS{
	margin: 0 !important;
	position: relative;
}
	
.mainCSS span{
	display: block;
	width: 100%;
}

.mainCSS span img{
	width: 100%;
}

.mainCSS > button {
	position: absolute;
	bottom: 30px;
	left: calc(50% - 100px);
	width: 200px;
	height: 50px;
	border-radius: 25px;
	font-family: var(--Gmartket);
	border: none;
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.mainCSS button:hover {
	color: white;
	background-color: var(--back-color);
}

/* Footer.js */
.footer {
	background-color: #3C3D3E;
	padding: 10px;
	line-height: 10px;
	margin-top: 100px;
}

.footer h2{
	font-family: 'Moonbucks';
	font-size: 30px;
	color: rgba(255, 255, 255, 0.7);
}

.footer p{
	color: rgba(255, 255, 255, 0.5);
}

/* Error.js */
.errorCSS {
	background-color: white;
	color: var(--back-color);
	font-family: var(--Gmartket);
}

.errorCSS img{
	width: 50%;
	margin-top: 40px;
	margin-bottom: 30px;
}

.errorCSS h3{
	font-family: var(--NotoSans);
	color: #3C3D3E;
}

.errorCSS span{
	display: inline-block;
	width: 200px;
	height: 80px;
	line-height: 80px;
	border: none;
	border-radius: 20px;
	margin: 20px 10px 0px;
	font-size: 20px;
}

.toMain{
	border: 1px solid var(--back-color) !important;
	color: var(--back-color);
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;

}

.toMain:hover{
	color: white;
	background-color: var(--back-color);
}

.toBack{
	color: white;
	background-color: var(--back-color);
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.toBack:hover{
	border: 1px solid var(--back-color) !important;
	color: var(--back-color);
	background-color: white !important;
}

/*  Regist, modify form */
.formTotal {
	text-align: left;
	margin: 0 auto;
	width: calc(100%/2);
}

.formTotal h1{
	text-align: center;
}

.formTotal label{
	margin-top: 10px;
	color: #eee;
}

.formTotal input[type="text"]{
	width: 100%;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.formTotal input[type="password"]{
	width: 100%;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.formTotal input[type="number"]{
	width: 100%;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.formTotal input[type="file"]{
	margin-top: 5px;
}

.formTotal input:focus{
	outline: none;
	background-color: var(--back-color);
	color: white;
	caret-color: white;
	
}

.formTotal textarea{
	margin-top: 5px;
	padding: 15px;
	word-break: keep-all;

}

input[type=file]::file-selector-button {
	background-color: white;
	border-radius: 5px;
	border: none;
	height: 30px;
	width: 90px;
	margin-right: 15px;
}

.formTotal textarea:focus{
	outline: none;
	background-color: var(--back-color);
	color: white;
	caret-color: white;
	
}

.nameCaution {
	color: rgb(247, 51, 51);
	padding-left: 10px;
}

.pwdCaution {
	color: rgb(247, 51, 51);
	padding-left: 10px;
}

.formTotal select{
	width: 50%;
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	padding-left: 10px;
	background-color: rgba(255, 255, 255, 0.8);
	margin-top: 5px;

}

.formTotal select:focus{
	background-color: white;
	outline: none;
}


.formTotal > select > option:hover{
	background-color: var(--back-color) !important;
}

.formTotal button{
	font-family: var(--Gmartket);
}


/* 지도 관련 CSS */
#map{
	margin: 0 auto 20px;
	width: 60%;
	height: 400px;
	position:relative;
	overflow:hidden;
}


/* Dessert.js */

.dessertBox,
.coffeeBox,
.shopBox {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
	margin-top: 30px !important;
}

.dessertBox div,
.coffeeBox div{
	margin-bottom: 5px;
	font-size: 16px;
	box-sizing: border-box;
}

.dessertBox a,
.coffeeBox a{
	width: calc(100%/4 - 20px);
	min-width: 300px;
	height: 250px;
	display: flex;
	margin-bottom: 15px;

}

.dessertItem,
.coffeeItem{

	width: calc(100%/2 - 10px);
	flex-basis: 300px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	cursor: pointer;
	color: var(--back-color);
	padding: 30px 10px 0px 15px;
	flex-grow: 1;
	word-break: keep-all;
	font-family: var(--Gmartket);
	border-top-right-radius: 30px;
	border-bottom-left-radius: 30px;
	transition: background-color 0.4s ease;
}

.dessertItem:hover,
.coffeeItem:hover{
	background-color: white;
}

.dessertItem img,
.coffeeItem img{
	height: 70%;
}


.dessertItem h3,
.coffeeItem h3{
	font-size: 1.2em;
	font-weight: 200;
}

.pageTitle button{
	font-family: var(--Gmartket);
	top: 27px;
}

.dessertTitle button{
	background-color: rgba(255, 255, 255, 0.6);
}

.shopTitle button{
	background-color: rgba(255, 255, 255, 0.6);
}

.pageTitle .dessertRegistBtn{
	left: 150px;
	top: 27px;
}

.pageTitle .coffeeRegistBtn{
	left: 150px;
	top: 27px;
}

.pageTitle .TotalBtn{
	right: calc(140px * 3 + 30px);
}

.pageTitle .breadBtn{
	right: calc(140px * 2 + 30px);
}
.pageTitle .cakeBtn{
	right: calc(140px * 1 + 30px);
	
}
.pageTitle .sandwitchBtn{
	right: calc(120px * 0 + 30px);
	
}

.pageTitle .coffeeBtn{
	right: calc(140px * 2 + 30px);
}
.pageTitle .teaBtn{
	right: calc(140px * 1 + 30px);
	
}
.pageTitle .blendedBtn{
	right: calc(120px * 0 + 30px);
	
}

.pageTitle p{
	margin-top: 5px;
	font-size: 20px;
}

.searchBox {
	position: relative;
}

.searchBox input[type="search"]{
	width: 38%;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
}

.searchBox input:focus{
	outline: none;
	background-color: var(--back-color);
	color: white;
	caret-color: white;
	
}

.searchBtn{
	position: absolute;
	top: -2px !important;
	left: 70%;
}

.pageTitle .active{
	background-color: white;
}


/* board CSS */
.boardItem {
	margin: 0 auto;
	width: 80%;
}

.boardItem ul{
	overflow: hidden;
	width: 100%;
	margin: 0 !important;
	padding: 0 !important;
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.boardItem ul:hover{
	background-color: white;
	color: var(--back-color);
}

.boardItem ul li{
	float: left;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	height: 100%;
}

.boardBox > ul{
	width: 80%;
	padding: 0 !important;
	
}

.boardBox a{
	height: 45px !important;
	width: 60% !important; 
}

.boardBox > ul > li{
	height: 45px;
	line-height: 45px;
	font-size: 1em;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.boardItem ul li:nth-child(1),
.boardBox ul li:nth-child(1)
{
	width: 30%;
}
.boardItem ul li:nth-child(2),
.boardBox ul li:nth-child(2){
	width: 30%;
}
.boardItem ul li:nth-child(3),
.boardBox ul li:nth-child(3){
	width: 10%;
}
.boardItem ul li:nth-child(4),
.boardBox ul li:nth-child(4){
	width: 30%;
}

.boardBox .a{
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

.boardBox .a:hover{
	background-color: white !important;
	color: var(--back-color) ;
}

.BoardBox{
	margin: 0 auto;
}

/* Login.js */

.loginCSS h1{
	padding-top: 20px;
}

.loginForm{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}

.loginForm table{
	margin: 0 auto;
}

.loginForm table label{
	font-family: var(--Gmartket);
	margin-right: 10px;
	font-size: 20px;
	margin-top: 3px;
}

.loginForm table button {
	width: 100px;
	margin-top: 3px;
	height: 67px;
	font-family: var(--Gmartket);
	font-size: 20px;
	border-radius: 5px;
	border: none;
	transition: color 0.4s ease;
	transition: background-color 0.4s ease;
	margin-left: 3px;
}

.loginForm table button:hover{
	background-color: #2f4485;
	color: white;
}

.loginForm input{
	width: 100%;
	margin-top: 5px;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 5px;
	height: 30px;
	line-height: 30;
	background-color: rgba(255, 255, 255, 0.8);
	caret-color: var(--back-color);
	padding-left: 10px;
	transition: background-color 0.4s ease;
}

.loginForm input:focus{
	outline: none;
	background-color: var(--back-color);
	color: white;
	caret-color: white;
}

.boardBox{
	margin-top: 30px;
}

/* 지도에서 주소 찾기 */
.map_wrap {
	position:relative;
	width:100%;
	height:350px;
	margin-top: 20px;
}
#map{
	width: 100%;
}
.title {
	font-weight:bold;
	display:block;
	color: black;
}
.hAddr {
	position:absolute;
	left:10px;
	top:10px;
	border-radius: 2px;
	background:#fff;
	background:rgba(255,255,255,0.8);
	z-index:1;padding:5px;}
#centerAddr {
	display:block;
	margin-top:2px;
	font-weight: normal;
	color: black;
}

.bAddr {
	color: black;
	padding:5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#kakaomap{
	width: 60%;
	height: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
}

.imgBox{
	width: 100%;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.3) ;
	margin-top: 5px;
	position: relative;
	border-radius: 10px;
	margin-bottom: 5px;
}

.imgUpload{
	height: 300px;
	position: relative;
	left: calc(50% - 150px);
}


.imageLabel {
	text-align: center;
	cursor: pointer;
	width: 120px;
	background-color: white;
	border: none;
	border-radius: 5px;
	height: 40px;
	line-height: 40px;
	color: var(--back-color) !important
}

input[type="file"]::file-selector-button{
	cursor: pointer;
	transition: background-color 0.4s ease;
	transition: color 0.4s ease;
}

input[type="file"]:hover::file-selector-button{
	background-color: #2f4485;
	color: white;
}